@use "../../partials/mixins.scss" as m;
@use "../../partials/variables.scss" as v;

.header {
  @include m.displayFlex(row, flex-start, center, nowrap);
  max-width: 100vw;
  max-height: 200px;
  width: 100%;
  height: 150px;
  text-align: center;
  font-family: v.$logo;
  font-size: 2.25em;
  font-weight: 800;
  background-color: v.$hookersGreen;
  position: relative;

  &_text {
    position: relative;
    left: 20px;
  }
}

.links {
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: underline;
    color: v.$linkHovered;
  }
}