@use "../../partials/mixins.scss" as m;
@use "../../partials/variables.scss" as v;

.landingPage {
  @include m.displayFlex(column, flex-start, flex-start, nowrap);
  max-width: 100vw;
  max-height: 100vh;
  width: 100%;
  height: 100vh;
}


.content {
  @include m.displayFlex(column, flex-start, flex-start, nowrap);
  max-width: 100vw;
  width: 100%;
  height: 80%;
}
